doctype html
html(lang="en")

	head
		title microscope - Build Atomic Design Systems
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		meta(charset="utf-8")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
		link(rel="icon" href="assets/images/favicon.png" sizes="32x32")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")

		//Style of components
		link(rel="stylesheet" href="microscope.min.css")

		//Style of Page
		include _style.css

	body

		//Tabs
		div(class="ms-tabs")
			ul(class="ms-tabs-ul")
				li(class="ms-tabs-li")
					spam(class="ms-tabs-count")=global.length
					a(href="#" id="global" class="ms-tabs-a ms-selected") GLOBAL
				li(class="ms-tabs-li")
					spam(class="ms-tabs-count")=atoms.length
					a(href="#" id="atoms" class="ms-tabs-a") ATOMS
				li(class="ms-tabs-li") 
					spam(class="ms-tabs-count")=molecules.length
					a(href="#" id="molecules" class="ms-tabs-a") MOLECULES
				li(class="ms-tabs-li") 
					spam(class="ms-tabs-count")=organisms.length
					a(href="#" id="organisms" class="ms-tabs-a") ORGANISMS
				li(class="ms-tabs-li") 
					spam(class="ms-tabs-count")=templates.length
					a(href="#" id="templates" class="ms-tabs-a") TEMPLATES
				li(class="ms-tabs-li") 
					spam(class="ms-tabs-count")=pages.length
					a(href="#" id="pages" class="ms-tabs-a") PAGES

			//All tabs content
			include ./../source/markup/all.jade

		script(src = "assets/scripts/scripts.js" type = "text/javascript" async)
